* 
	outline: none
	font-family: Roboto, sans-serif


.App 
	box-sizing: border-box
	font-family: "Roboto", sans-serif
	width: 100%
	background-color: #eee
	padding-top: 10px

.main
	padding-top: 20px

